<footer class="footer background1 text-center py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center p-4" style="background-color: grey;">
                    copyright &copy; 2021:
                    <a href="#" class="text-reset fw-bold">Sparks Enterprises</a>
                </div>
            </div>
        </div>
    </div>
</footer>